@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@inject IHttpContextAccessor HttpContextAccessor
@{
	ViewData["Title"] = " Page";
	// Layout = "~/Views/shared/_layout.cshtml";
	string errorMsg = HttpContextAccessor.HttpContext.Session.GetString("errorMsg");
	QLNS.ViewModels.Header.HeaderViewModel headerData = ViewBag.HeaderData;
}
@model QLNS.ViewModels.Account.InfoAccountViewModel
@section Header {
	@Html.Partial("Header", headerData)
}
@section Footer {
	@Html.Partial("Footer")
}
<section id="aa-catg-head-banner">
    <img src="~/images/archive-banner.png" alt="banner blog">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>Đăng ký</h2>
                <ol class="breadcrumb">
                    <li><a href="/">Trang chủ</a></li>
                    <li style="color:#fff">Thay đổi thông tin tài khoản</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section id="aa-myaccount">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-myaccount-area">
                    <div class="row">

                        <div class="col-md-8 col-md-push-2">
                            <div class="aa-myaccount-register">
                                <h4>Cập nhật tài khoản</h4>
                                <form name="formEdit" class="aa-login-form" method="post" asp-action="UpdateAccount" asp-controller="Account">
                                    <label for="">Họ tên<span>*</span></label>
                                    <input type="text" placeholder="Name" name="Nameuser" value="@Model.info.Nameuser" required>
                                    <label for="">Email <span>*</span></label>
                                    <input type="email" placeholder="useremail@gmail.com" name="Email" value="@Model.info.Email" readonly>
                                    <br />
                                    <label for="">Số điện thoại<span>*</span></label>
                                    <input type="text" placeholder="Số điện thoại" name="Phone" value="@Model.info.Phone" required>
                                    <label for="">Username<span>*</span></label>
                                    <input type="text" placeholder="Username" name="Username" readonly value="@Model.info.Username">
                                    <label for="">Mật khẩu<span>*</span></label>
                                    <input type="password" placeholder="Password" name="Password" value="@Model.info.Password" required>
                                    <label for="">Ngày tạo<span>*</span></label>
                                    <input type="date" readonly placeholder="Create" name="Created" id="the-date" value="@Model.info.Created">

                                    <p style="color:red; display: block;">
                                        @* <%=(request.getAttribute("errMessage") == null) ? ""
                                        : request.getAttribute("errMessage")%> *@
                                        @errorMsg
                                    </p>
                                    <button type="reset" class="aa-browse-btn" value="Reset">Đặt lại</button>
                                    <button type="submit" class="aa-browse-btn">Chỉnh sửa</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>