@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@inject IHttpContextAccessor HttpContextAccessor
@{
	ViewData["Title"] = "Infomation User Page";
	// Layout = "~/Views/shared/_layout.cshtml";
	QLNS.ViewModels.Header.HeaderViewModel headerData = ViewBag.HeaderData;
}
@model QLNS.ViewModels.Account.InfoAccountViewModel
@section Header {
	@Html.Partial("Header", headerData)
}
@section Footer {
	@Html.Partial("Footer")
}
<section id="aa-catg-head-banner">
    <img src="~/images/archive-banner.png" alt="banner blog">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>Đăng ký</h2>
                <ol class="breadcrumb">
                    <li><a href="/">Trang chủ</a></li>
                    <li style="color:#fff">Thông tin tài khoản</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section id="aa-myaccount">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-myaccount-area">
                    <div class="row">

                        <div class="col-md-8 col-md-push-2">
                            <div class="aa-myaccount-register">
                                <a href="/Order/ShowOrder"><button class="aa-browse-btn">Danh sach đơn hàng của bạn</button></a>
                                <h4>Thông tin tài khoản</h4>
                                <form class="aa-login-form" method="post">
                                    <label for="">Họ tên<span>*</span></label>
                                    <input type="text" placeholder="Name" readonly name="Nameuser"  value="@Model.info.Nameuser">
                                    <label for="">Email <span>*</span></label> 
                                    <input type="email" placeholder="useremail@gmail.com" readonly name="Email" value="@Model.info.Email">
                                    <label for="">Số điện thoại<span>*</span></label>
                                    <input type="tel" placeholder="Số điện thoại" readonly name="Phone" value="@Model.info.Phone">
                                    <br />
                                    <label for="">Username<span>*</span></label>
                                    <input type="text" placeholder="Username" readonly name="Username" value="@Model.account.Username">
                                    <label for="">Ngày tạo<span>*</span></label>
                                    <input type="text" readonly placeholder="Create" name="Created" value="@Model.info.Created">
                                    <label for="">Dịa chỉ<span>*</span></label>
                                    <input type="text" readonly placeholder="Address" name="Address" id="the-date" value="@Model.info.Address">
                                </form>
                                <a href="/Account/EditInfo"><button class="aa-browse-btn">Thay đổi thông tin tài khoản</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>