@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Edit Admin View";
    string errorMsg = HttpContextAccessor.HttpContext.Session.GetString("errorMsg");
}
@model QLNS.ViewModels.Admin.EditAdminViewModel
@section AdminHeader {
    @Html.Partial("AdminHeader")
}
@section AdminFooter {
    @Html.Partial("AdminFooter")
}
<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row mt-3">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">Chuyên mục: Sửa</div>
                        <p style="color:red; display:block">
                            @errorMsg
                        </p>
                        <hr>

                        <form asp-action="EditAdminResult" asp-controller="Admin" method="post">
                            <div class="form-group">
                                <label for="input-1">ID</label>
                                <input type="text" class="form-control" readonly id="input-1" placeholder="nhân viên ID" name="id" value="@Model.Admin.Id">
                            </div>
                            <div class="form-group">
                                <label for="input-1">Username</label>
                                <input type="text" class="form-control" readonly id="input-1" placeholder="Username" name="username" value="@Model.Account.Username">
                            </div>
                            <div class="form-group">
                                <label for="input-1">Password</label>
                                <input type="password" class="form-control" id="myinput" placeholder="Mật khẩu" name="password" value="@Model.Account.Password" required>
                                <input type="checkbox" onclick="myFunction1()">Hiển thị mật khẩu
                                <script>
                                    function myFunction1() {
                                        var x = document.getElementById("myinput");
                                        if (x.type === "password") {
                                            x.type = "text";
                                        } else {
                                            x.type = "password";
                                        }
                                    }</script>
                            </div>
                            <div class="form-group">
                                <label for="input-2">Chuyên mục</label>
                                <div>
                                    <select class="form-control valid" id="input-6" name="role" aria-invalid="false">
                                        @if (Model.Account.IdRole == 1)
                                        {
                                            <option value="3">Quyền nhân viên</option>
                                            <option value="1" selected>Quyền quản lý</option>
                                        }
                                        else
                                        {
                                            <option value="3">Quyền nhân viên</option>
                                            <option value="1">Quyền quản lý</option>
                                        }

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input-1">Tên Nhân viên</label>
                                <input type="text" class="form-control" id="input-1" placeholder="Tên Nhân viên" name="name" value="@Model.Admin.Name" required>
                            </div>
                            <div class="form-group">
                                <label for="input-1">Số điện thoại Nhân viên</label>
                                <input type="tel" class="form-control" id="input-1" placeholder="Số điện thoại Nhân viên" name="phone" value="@Model.Admin.Phone" required>
                            </div>
                            <div class="form-group">
                                <label for="input-1">Email Nhân viên</label>
                                <input type="email" class="form-control" id="input-1" placeholder="Email Nhân viên" name="email" value="@Model.Admin.Email" required>
                            </div>
                            <div class="form-footer">
                                <button type="reset" class="btn btn-danger"><i class="fa fa-times"></i> Hủy </button>
                                <button type="submit" class="btn btn-success"><i class="fa fa-check-square-o"></i> Sửa </button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="overlay toggle-menu"></div>
    </div>
</div>