@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
	ViewData["Title"] = "Home Page Admin";
}
@model QLNS.ViewModels.Admin.IndexViewModel
@section AdminHeader {
	@Html.Partial("AdminHeader")
}
@section AdminFooter {
	@Html.Partial("AdminFooter")
}
<div class="content-wrapper">
      <div class="container-fluid">
        <div class="card mt-3">
          <div class="card-content">
            <div class="row row-group m-0">
              <div class="col-12 col-lg-6 col-xl-3 border-light">
                <div class="card-body">
                            <h5 class="text-white mb-0">
                                @Model.order <span class="float-right">
                                    <a href="/Admin/OrderInWeek" class="text-white">
                                        <i class="fa fa-shopping-cart"></i>
                                    </a>
                                </span>
                  </h5>
                  <div class="progress my-3" style="height:3px;">
                    <div class="progress-bar" style="width:20%"></div>
                  </div>
                  <p class="mb-0 text-white small-font">Đơn hàng (theo tuần)<span class="float-right">+4.2% <i
                        class="zmdi zmdi-long-arrow-up"></i></span></p>
                </div>
              </div>
              <div class="col-12 col-lg-6 col-xl-3 border-light">
                <div class="card-body">
                            <a href="/Admin/AdminOrderReport" class="text-white">
                            <h5 class="text-white mb-0"> @string.Format("{0:N0}", @Model.revenue)  <span class="float-right">VNĐ</span></h5>
                            </a>
                  <div class="progress my-3" style="height:3px;">
                    <div class="progress-bar" style="width:55%"></div>
                  </div>
                  <p class="mb-0 text-white small-font">Doanh thu (theo tuần)<span class="float-right">+1.2% <i
                        class="zmdi zmdi-long-arrow-up"></i></span></p>
                </div>
              </div>
              <div class="col-12 col-lg-6 col-xl-3 border-light">
                <div class="card-body">
                            <h5 class="text-white mb-0">@Model.user <span class="float-right"><a href="/Admin/UserInWeek" class="text-white"><i class="fa fa-eye"></i></a></span></h5>
                  <div class="progress my-3" style="height:3px;">
                    <div class="progress-bar" style="width:55%"></div>
                  </div>
                  <p class="mb-0 text-white small-font">Tài khoản mới (theo tuần)<span class="float-right">+0.0% <i
                        class="zmdi zmdi-long-arrow-up"></i></span></p>
                </div>
              </div>
              <div class="col-12 col-lg-6 col-xl-3 border-light">
                <div class="card-body">
                            <h5 class="text-white mb-0">@Model.product <span class="float-right"><a href="/Admin/ProductInWeek" class="text-white"><i class="fa fa-envira"></i></a></span></h5>
                  <div class="progress my-3" style="height:3px;">
                    <div class="progress-bar" style="width:55%"></div>
                  </div>
                  <p class="mb-0 text-white small-font">Sản phẩm bán ra (theo tuần)<span class="float-right">+2.2% <i
                        class="zmdi zmdi-long-arrow-up"></i></span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-4 col-xl-4">
            <div class="card">
              <div class="card-header">Danh mục bán chạy
              </div>
              <div class="card-body">
                <div class="chart-container-2"
                             data-revenue1="@Model.revenue1"
                             data-revenue2="@Model.revenue2"
                             data-revenue3="@Model.revenue3"
                             data-revenue4="@Model.revenue4">
                  <canvas id="chart2"></canvas>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table align-items-center">
                  <tbody>
                    <tr>
                      <td><i class="fa fa-circle text-white mr-2"></i>Rau sạch</td>
                      <td>@string.Format("{0:N0}", @Model.revenue1) VNĐ</td>
                      <td>+@(Model.revenue == 0 ? 0 : (Model.revenue1 * 100 / Model.revenue)) %</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-circle text-light-1 mr-2"></i>quả/trái cây</td>
                      <td>@string.Format("{0:N0}", @Model.revenue2) VNĐ</td>
                      <td>+@(Model.revenue == 0 ? 0 : (Model.revenue2 * 100 / Model.revenue)) %</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-circle text-light-2 mr-2"></i>các loại hạt</td>
                      <td>@string.Format("{0:N0}", @Model.revenue3) VNĐ</td>
                      <td>+@(Model.revenue == 0 ? 0 : (Model.revenue3 * 100 / Model.revenue)) %</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-circle text-light-3 mr-2"></i>Mật</td>
                      <td>@string.Format("{0:N0}", @Model.revenue4) VNĐ</td>
                      <td>+@(Model.revenue == 0 ? 0 : (Model.revenue4 * 100 / Model.revenue))%</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>