@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using QLNS.DTO
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Proudct In Week View";
    string errorMsg = HttpContextAccessor.HttpContext.Session.GetString("errorMsg");
}
@model QLNS.ViewModels.Admin.ProductInWeekViewModel
@section AdminHeader {
    @Html.Partial("AdminHeader")
}
@section AdminFooter {
    @Html.Partial("AdminFooter")
}
<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row mt-3">
            <div class="col-lg-12">
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Danh sách sản phẩm được bán trong tuần</h5>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Tên sản phẩm</th>
                                        <th scope="col">Hình ảnh</th>
                                        <th scope="col">Danh mục</th>
                                        <th scope="col">Số lượng</th>
                                        <th scope="col">Đơn vị</th>
                                        <th scope="col">Giá</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Giảm giá</th>
                                        <th scope="col">Ngày tạo</th>
                                        <th scope="col">Số lượng bán</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (ProductDTO item in Model.Products)
                                    {
                                        <tr>
                                            <th scope="row">@item.Id</th>
                                            <td>@item.Name</td>
                                            <td><img style="    width: 110px;height: 67px; object-fit: cover;border: 1px solid #fff;" src="~/images/products/img-test/@item.ImageLink" alt="@item.ImageLink"></td>
                                            <td>@Model.Catalogs.Where(c => c.Id == @item.CatalogId).FirstOrDefault().Name</td>
                                            <td>@item.Quantity</td>
                                            <td>@item.Unit</td>
                                            <td>@item.Price</td>
                                            @if (item.Status == 1)
                                            {
                                                <td>Đang bán</td>
                                            }
                                            else
                                            {
                                                <td>Tạm khóa</td>
                                            }
                                            <td>@item.Discount %</td>
                                            <td>@item.Created</td>
                                            <td>@Model.quantity[item.Id]</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay toggle-menu"></div>
    </div>
</div>