@using QLNS.DTO
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Sale View";
    string errorMsg = HttpContextAccessor.HttpContext.Session.GetString("errorMsg");
}
@model QLNS.ViewModels.Order.ShowSaleViewModel
@section AdminHeader {
    @Html.Partial("AdminHeader")
}
@section AdminFooter {
    @Html.Partial("AdminFooter")
}
<div class="content-wrapper">
    <div class="container-fluid">
        <!--End Row-->


        <div class="row">
            <div class="col-lg-12">
                <button class="add-catalog"><a href="/Admin/AddSale">Thêm đợt giảm giá</a></button>
                <p style="color:red; display:block">
                    @errorMsg
                </p>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Danh sách các đợt giảm giá</h5>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">ngày bắt đầu</th>
                                        <th scope="col">Ngày kết thúc</th>
                                        <th scope="col">Trạng thái</th>
                                        <th scope="col">Mô tả</th>
                                        <th scope="col">Nhân viên</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (SaleDTO sale in Model.Sales.AsEnumerable().Reverse())
                                    {
                                        <tr>
                                            <td scope="row"><a class="remove" href="/Admin/ShowSaleDetail?id=@sale.Id">@sale.Id</a></td>
                                            <td>@sale.StartDate</td>
                                            <td>@sale.EndDate</td>
                                            <td>@(sale.EndDate.ToDateTime(TimeOnly.MinValue) < DateTime.Now ? "Đã qua" : "Đang áp dụng")</td>
                                            <td>@sale.Des</td>
                                            <td>@Model.Admins.Where(a=>a.Id==sale.AdminId).FirstOrDefault().Name</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>