@using QLNS.DTO
@{
	ViewData["Title"] = "Home Page";
	// Layout = "~/Views/shared/_layout.cshtml";
	QLNS.ViewModels.SlideView.SlideViewModel slideData = ViewBag.SlideData;
	QLNS.ViewModels.Header.HeaderViewModel headerData = ViewBag.HeaderData;
}
@model QLNS.ViewModels.Home.HomeViewModel
@section Header {
	@Html.Partial("Header", headerData)
}
@section Footer {
	@Html.Partial("Footer")
}
@section Slide {
	@Html.Partial("Slide", slideData)
}

@* <div id="banner" class="banner-overlay" style="position: fixed;top: 0;
    left: 0;width: 100%; height: 100%;background-color: rgba(0, 0, 0, 0.5); /* Màu nền tối */display: flex;
    justify-content: center; align-items: center; z-index: 1000;">
	<div class="banner-content" style="background-color: #fff;padding: 20px;border-radius: 8px;text-align: center; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);position: relative; width: 600px;
    max-width: 60%;">
		<button id="closeBanner" class="close-btn" style="position: absolute; top: 10px;right: 10px;background: none;border: none;font-size: 18px; font-weight: bold; cursor: pointer;">
			×
		</button>
		<p>Xu hướng từ khách hàng giống bạn:</p>
		<button id="goToBanner" class="btn" style="{ padding: 10px 20px; background-color: #007bff;color: #fff; border: none; border-radius: 5px; cursor: pointer;:hover {background: #0056b3;} }">
		<img src="~/images/khach_hang.jpg" alt="Banner Image" class="banner-img" style=" max-width: 100%; height: auto; margin: 10px 0;" >
		
			
		</button>
	</div>
</div> *@

<!-- Start Promo section -->
<section id="aa-promo">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="aa-promo-area">
					<div class="row">
						<!-- promo left -->
						<div class="col-md-5 no-padding">
							<div class="aa-promo-left">
								<div class="aa-promo-banner">
									<img src="~/images/section1_tc.jpg" alt="dâu tây Đà Lạt">
									<div class="aa-prom-content">
										<span>Giảm giá 35%</span>
										<h4>Dâu tây Đà Lạt</h4>
									</div>
								</div>
							</div>
						</div>
						<!-- promo right -->
						<div class="col-md-7 no-padding">
							<div class="aa-promo-right">
								<div class="aa-single-promo-right">
									<div class="aa-promo-banner">
										<img src="~/images/section2_tc.jpg" alt="hạt tiêu daklak">
										<div class="aa-prom-content">
											<span>Sản Phẩm độc quyền</span>
											<h4>Hạt tiêu DakLak</h4>
										</div>
									</div>
								</div>
								<div class="aa-single-promo-right">
									<div class="aa-promo-banner">
										<img src="~/images/section3_tc.jpg" alt="img">
										<div class="aa-prom-content">
											<span>Sản phẩm nhập khẩu</span>
											<h4>Cherry Mỹ</h4>
										</div>
									</div>
								</div>
								<div class="aa-single-promo-right">
									<div class="aa-promo-banner">
										<img src="~/images/section4_tc.jpg" alt="img">
										<div class="aa-prom-content">
											<span>Giảm giá 25%</span>
											<h4>Tinh Dầu Sả</h4>
										</div>
									</div>
								</div>
								<div class="aa-single-promo-right">
									<div class="aa-promo-banner">
										<img src="~/images/section5_tc.jpg" alt="img">
										<div class="aa-prom-content">
											<span>Sản phẩm độc quyền</span>
											<h4>Mật ong rừng Tây Bắc</h4>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
@if (Model.Useds != "")
{
	<!-- Thông báo gợi ý khi kéo tới section -->
	<div id="notification" class="notification hidden">
		<p>Bạn đang quan tâm tới các sản phẩm @Model.Useds</p>
		<button id="goToSection" class="btn">Xem sản phẩm @Model.Useds</button>
	</div>
}

<!-- / Promo section -->
<!-- Products section -->
<section id="aa-product">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="aa-product-area">
						<div class="aa-product-inner">
							<!-- start prduct navigation -->
							<ul class="nav nav-tabs aa-products-tab">
								<li class="active"><a href="#@Model.Catalogs[0].Id" data-toggle="tab">@Model.Catalogs[0].Name</a></li>
								@for (int i = 1; i < Model.Catalogs.Count; i++)
								{
									<li><a href="#@Model.Catalogs[i].Id" data-toggle="tab">@Model.Catalogs[i].Name</a></li>
								}
							</ul>
							<!-- Tab panes -->
							<div class="tab-content">
								<!-- Start men product category -->
								<div class="tab-pane fade in active" id="@Model.Catalogs[0].Id">
									<ul class="aa-product-catg">
										<!-- start single product item -->
										@foreach (ProductDTO item in Model.Products.Where(p => p.CatalogId == @Model.Catalogs[0].Id).ToList())
										{
											<li>
												<figure>
													@* asp-action="AddToCart" asp-controller="Cart" *@
													<a class="aa-product-img" href="/Product/ProductDetail?id=@item.Id"><img src="~/images/products/img-test/@item.ImageLink" alt="polo shirt img"></a>
													<a class="aa-add-card-btn" href="#" data-productid=@item.Id data-quantity=1><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
													<figcaption>
														<h4 class="aa-product-title"><a href="/Product/ProductDetail?id=@item.Id">@item.Name</a></h4>
														@if (item.Discount == 0)
														{
															<span class="aa-product-price">@string.Format("{0:N0}",item.Price) VNĐ</span>
															<span class="aa-product-price"></span>
														}
														else
														{
															<span class="aa-product-price">@string.Format("{0:N0}",item.Price - (item.Price / 100 * item.Discount)) VNĐ</span>
															<span class="aa-product-price"><del>@string.Format("{0:N0}",item.Price) VNĐ</del></span>
														}
													</figcaption>
												</figure>
												@if (item.Discount != 0)
												{
													<!-- product badge -->
													<span class="aa-badge aa-sale">- @item.Discount%</span>
												}
											</li>
										}
										<!-- start single product item -->
									</ul>
								</div>
								<!-- / men product category -->
								@for (int i = 1; i < Model.Catalogs.Count; i++)
								{
									<!-- Start men product category -->
									<div class="tab-pane fade" id="@Model.Catalogs[i].Id">
										<ul class="aa-product-catg">
											<!-- start single product item -->
											@foreach (ProductDTO item in Model.Products.Where(p => p.CatalogId == @Model.Catalogs[i].Id).ToList())
											{
												<li>
													<figure>
														<a class="aa-product-img" href="/Product/ProductDetail?id=@item.Id"><img src="~/images/products/img-test/@item.ImageLink" alt="polo shirt img"></a>
														<a class="aa-add-card-btn btn" data-productid=@item.Id data-quantity=1 style="cursor: pointer;"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
														<figcaption>
															<h4 class="aa-product-title"><a href="/Product/ProductDetail?id=@item.Id">@item.Name</a></h4>
															@if (item.Discount == 0)
															{
																<span class="aa-product-price">@string.Format("{0:N0}",item.Price) VNĐ</span>
																<span class="aa-product-price"></span>
															}
															else
															{
																<span class="aa-product-price">@string.Format("{0:N0}",item.Price - (item.Price / 100 * item.Discount)) VNĐ</span>
																<span class="aa-product-price"><del>@string.Format("{0:N0}",item.Price) VNĐ</del></span>
															}
														</figcaption>
													</figure>
													@if (item.Discount != 0)
													{
														<!-- product badge -->
														<span class="aa-badge aa-sale">- @item.Discount%</span>
													}
												</li>
											}
											<!-- start single product item -->
										</ul>
									</div>
									<!-- / men product category -->
								}
							</div>
							<div class="more-product">
								<a class="aa-browse-btn" href="/Product">Xem Tất Cả Sản Phẩm <span class="fa fa-long-arrow-right"></span></a>
							</div>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- / Products section -->
<!-- banner section -->
<section id="aa-banner">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="aa-banner-area">
						<a href="/Product"><img src="~/images/banner_tc.jpg" alt="banner trang chủ"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end banner section -->
<!-- popular section -->
<section id="aa-popular-category">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="aa-popular-category-area">
						<!-- start prduct navigation -->
						<ul class="nav nav-tabs aa-products-tab">
							<li class="active"><a href="#sanphamchoban" data-toggle="tab">Sản Phẩm Gợi ý cho bạn</a></li>
							<li ><a href="#sanphammoi" data-toggle="tab">Sản Phẩm Mới</a></li>
							<li><a href="#sanphambanchay" data-toggle="tab">Sản Phẩm Bán Chạy</a></li>
							<li><a href="#sanphamgiamgia" data-toggle="tab">Sản Phẩm Giảm Giá</a></li>
							
						</ul>
						<!-- Tab panes -->
						<div class="tab-content">
							<!-- Start men popular category -->
							<div class="tab-pane fade in active" id="sanphamchoban">
								<ul class="aa-product-catg aa-popular-slider">
									<!-- start single product item -->
									@foreach (ProductDTO item in Model.RecommendedProducts)
									{
										<li>
											<figure>
												<a class="aa-product-img" href="/Product/ProductDetail?id=@item.Id"><img src="~/images/products/img-test/@item.ImageLink" alt="polo shirt img"></a>
												<a class="aa-add-card-btn" data-productid=@item.Id data-quantity=1 style="cursor: pointer;"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
												<figcaption>
													<h4 class="aa-product-title"><a href="/Product/ProductDetail?id=@item.Id">@item.Name</a></h4>
													@if (item.Discount == 0)
													{
														<span class="aa-product-price">@string.Format("{0:N0}",item.Price) VNĐ</span>
														<span class="aa-product-price"></span>
													}
													else
													{
														<span class="aa-product-price">@string.Format("{0:N0}", item.Price - (item.Price / 100 * item.Discount)) VNĐ</span>
														<span class="aa-product-price"><del>@string.Format("{0:N0}",item.Price) VNĐ</del></span>
													}
												</figcaption>
											</figure>

											@if (item.Discount != 0)
											{

												<!-- product badge -->
												<span class="aa-badge aa-sale">- @item.Discount%</span>
											}
										</li>
										<!-- start single product item -->
									}
								</ul>

							</div>
							<!-- / popular product category -->
							<!-- Start men popular category -->
							<div class="tab-pane fade" id="sanphammoi">
								<ul class="aa-product-catg aa-popular-slider">
									<!-- start single product item -->
									@foreach (ProductDTO item in Model.Products.OrderByDescending(p => p.Created).ToList())
									{
										<li>
											<figure>
												<a class="aa-product-img" href="/Product/ProductDetail?id=@item.Id"><img src="~/images/products/img-test/@item.ImageLink" alt="polo shirt img"></a>
												<a class="aa-add-card-btn" data-productid=@item.Id data-quantity=1 style="cursor: pointer;"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
												<figcaption>
													<h4 class="aa-product-title"><a href="/Product/ProductDetail?id=@item.Id">@item.Name</a></h4>
													@if (item.Discount == 0)
													{
														<span class="aa-product-price">@string.Format("{0:N0}",item.Price) VNĐ</span>
														<span class="aa-product-price"></span>
													}
													else
													{
														<span class="aa-product-price">@string.Format("{0:N0}",item.Price - (item.Price / 100 * item.Discount)) VNĐ</span>
														<span class="aa-product-price"><del>@string.Format("{0:N0}",item.Price) VNĐ</del></span>
													}
												</figcaption>
											</figure>

											@if (item.Discount != 0)
											{

												<!-- product badge -->
												<span class="aa-badge aa-sale">- @item.Discount%</span>
											}
										</li>
										<!-- start single product item -->
									}
								</ul>

							</div>
							<!-- / popular product category -->
							
							<!-- start featured product category -->
							<div class="tab-pane fade" id="sanphambanchay">
								<ul class="aa-product-catg aa-popular-slider">
									<!-- start single product item -->
									@foreach (ProductDTO item in Model.BestSellingProducts.ToList())
									{
										<li>
											<figure>
												<a class="aa-product-img" href="/Product/ProductDetail?id=@item.Id"><img src="~/images/products/img-test/@item.ImageLink" alt="polo shirt img"></a>
												<a class="aa-add-card-btn" data-productid=@item.Id data-quantity=1 style="cursor: pointer;"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
												<figcaption>
													<h4 class="aa-product-title"><a href="/Product/ProductDetail?id=@item.Id">@item.Name</a></h4>
													@if (item.Discount == 0)
													{
														<span class="aa-product-price">@string.Format("{0:N0}",item.Price) VNĐ</span>
														<span class="aa-product-price"></span>
													}
													else
													{
														<span class="aa-product-price">@string.Format("{0:N0}",item.Price - (item.Price / 100 * item.Discount)) VNĐ</span>
														<span class="aa-product-price"><del>@string.Format("{0:N0}",item.Price) VNĐ</del></span>
													}
												</figcaption>
											</figure>

											@if (item.Discount != 0)
											{
												<!-- product badge -->
												<span class="aa-badge aa-sale">- @item.Discount%</span>
											}
										</li>
										<!-- start single product item -->
									}
								</ul>

							</div>
							<!-- / featured product category -->
							<!-- start latest product category -->
							<div class="tab-pane fade" id="sanphamgiamgia">
								<ul class="aa-product-catg aa-popular-slider">
									<!-- start single product item -->
									@foreach (ProductDTO item in Model.Products.Where(p => p.Discount!=0).ToList())
									{
										<li>
											<figure>
												<a class="aa-product-img" href="/Product/ProductDetail?id=@item.Id"><img src="~/images/products/img-test/@item.ImageLink" alt="polo shirt img"></a>
												<a class="aa-add-card-btn" data-productid=@item.Id data-quantity=1 style="cursor: pointer;"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
												<figcaption>
													<h4 class="aa-product-title"><a href="/Product/ProductDetail?id=@item.Id">@item.Name</a></h4>
													@if (item.Discount == 0)
													{
														<span class="aa-product-price">@string.Format("{0:N0}",item.Price) VNĐ</span>
														<span class="aa-product-price"></span>
													}
													else
													{
														<span class="aa-product-price">@string.Format("{0:N0}",item.Price - (item.Price / 100 * item.Discount)) VNĐ</span>
														<span class="aa-product-price"><del>@string.Format("{0:N0}",item.Price) VNĐ</del></span>
													}
												</figcaption>
											</figure>

											@if (item.Discount != 0)
											{
												<!-- product badge -->
												<span class="aa-badge aa-sale">- @item.Discount%</span>
											}
										</li>
										<!-- start single product item -->
									}
								</ul>

							</div>
							<!-- / latest product category -->
						</div>
						<div class="more-product">
							<a class="aa-browse-btn" href="/Product">Xem Tất Cả Sản Phẩm <span class="fa fa-long-arrow-right"></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- / popular section -->
<!-- recommend by rating-->
<section id="aa-popular-similarity">
	
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="aa-popular-similarity-area">
						<h3> Những người mua hàng khác giống bạn cũng thích</h3>
						<div class="tab-content">
							@if (Model.RecommendedProductsByRated != null)
							{
								<div class="tab-pane fade in active">
									<ul class="aa-product-catg aa-popular-slider">
										<!-- start single product item -->
										@foreach (ProductDTO item in Model.RecommendedProductsByRated)
										{
											<li>
												<figure>
													<a class="aa-product-img" href="/Product/ProductDetail?id=@item.Id"><img src="~/images/products/img-test/@item.ImageLink" alt="polo shirt img"></a>
													<a class="aa-add-card-btn" data-productid=@item.Id data-quantity=1 style="cursor: pointer;"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
													<figcaption>
														<h4 class="aa-product-title"><a href="/Product/ProductDetail?id=@item.Id">@item.Name</a></h4>
														@if (item.Discount == 0)
														{
															<span class="aa-product-price">@string.Format("{0:N0}",item.Price) VNĐ</span>
															<span class="aa-product-price"></span>
														}
														else
														{
															<span class="aa-product-price">@string.Format("{0:N0}", item.Price - (item.Price / 100 * item.Discount)) VNĐ</span>
															<span class="aa-product-price"><del>@string.Format("{0:N0}",item.Price) VNĐ</del></span>
														}
													</figcaption>
												</figure>

												@if (item.Discount != 0)
												{

													<!-- product badge -->
													<span class="aa-badge aa-sale">- @item.Discount%</span>
												}
											</li>
											<!-- start single product item -->
										}
									</ul>

								</div>
							}
							</<div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
</section>
<!--/ Recommend by rating-->
<!-- Support section -->
<section id="aa-support">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="aa-support-area">
					<!-- single support -->
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="aa-support-single">
							<span class="fa fa-truck"></span>
							<h4>MIỄN PHÍ VẬN CHUYỂN</h4>
							<P>Chúng tôi đã áp dụng gói miễn phí vận chuyển cho đơn hàng</P>
						</div>
					</div>
					<!-- single support -->
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="aa-support-single">
							<span class="fa fa-clock-o"></span>
							<h4>GIAO HÀNG NHANH</h4>
							<P>Chúng tôi đảm bảo hàng đến tay khách hàng nhanh và đảm bảo sản phẩm an toàn.</P>
						</div>
					</div>
					<!-- single support -->
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="aa-support-single">
							<span class="fa fa-phone"></span>
							<h4>HỖ TRỢ 24/7</h4>
							<P>Hỗ trợ tư vấn và đặt hàng mọi lúc mọi nơi, đảm bảo thời gian cho khách hàng.</P>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- / Support section -->
<!-- Latest Blog -->
<section id="aa-latest-blog">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="aa-latest-blog-area">
					<h2>TIN TỨC</h2>
					<div class="row">
						<!-- single latest blog -->
						@for (int i = 0; i<Model.Boardnews.Count&&i<3;i++)
						{
							<div class="col-md-4 col-sm-4">
								<div class="aa-latest-blog-single">
									<figure class="aa-blog-img">
										<a href="/Home/Boardnew?id=@Model.Boardnews[i].Id"><img src="~/images/@Model.Boardnews[i].ImageLink" alt="Tin tức @Model.Boardnews[i].Title"></a>
										<figcaption class="aa-blog-img-caption">
											<span href="/Home/Boardnew?id=@Model.Boardnews[i].Id"><i class="fa fa-clock-o"></i>@Model.Boardnews[i].Created</span>
										</figcaption>
									</figure>
									<div class="aa-blog-info">
										<h3 class="aa-blog-title"><a href="/Home/Boardnew?id=@Model.Boardnews[i].Id">@Model.Boardnews[i].Title</a></h3>
										<p class="desc-boardnews">@Html.Raw(@Model.Boardnews[i].Content.Replace("'\n'", "<br />"))</p>
										<a href="/Home/Boardnew?id=@Model.Boardnews[i].Id" class="aa-read-mor-btn">Xem thêm<span class="fa fa-long-arrow-right"></span></a>
									</div>
								</div>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- / Latest Blog -->
<script>
	document.addEventListener('DOMContentLoaded', function () {
		const targetSection = document.querySelector('#aa-promo');
		const notification = document.querySelector('#notification');
		const goToSectionButton = document.querySelector('#goToSection');

		// Kiểm tra khi người dùng cuộn đến section mục tiêu
		window.addEventListener('scroll', function () {
			const sectionTop = targetSection.getBoundingClientRect().top;
			const windowHeight = window.innerHeight;

			if (sectionTop < windowHeight && sectionTop > 0) {
				// Hiển thị gợi ý khi section ở trong tầm nhìn
				notification.classList.remove('hidden');
			} else {
				// Ẩn gợi ý khi cuộn ra khỏi section
				notification.classList.add('hidden');
			}
		});

		// Điều hướng tới mục tiêu khi nhấn nút
		goToSectionButton.addEventListener('click', function () {
			document.querySelector('#sanphamchoban').scrollIntoView({ behavior: 'smooth' });
			
			@* document.querySelectorAll('#sanphammoi, #sanphamchoban, #sanphambanchay, #sanphamgiamgia').forEach(function (pane) {
				pane.classList.remove('in', 'active'); *@
		});
		document.getElementById('goToBanner').addEventListener('click', function () {
			const target = document.getElementById('aa-popular-similarity');
			if (target) {
				target.scrollIntoView({ behavior: 'smooth' });
			} else {
				console.error('Section "aa-popular-similarity" không tồn tại.');
			}
			document.getElementById('banner').style.display = 'none';
		});
	});
	document.getElementById('closeBanner').addEventListener('click', function () {
		// Ẩn banner khi nhấn nút đóng
		document.getElementById('banner').style.display = 'none';
	});
	document.getElementById('goToBanner').addEventListener('click', function () {
		// Cuộn tới section với id "aa-popular-similarity"
		document.getElementById('aa-popular-similarity').scrollIntoView({ behavior: 'smooth' });
		document.querySelector('aa-popular-similarity').scrollIntoView({ behavior: 'smooth' });
		// Ẩn banner
		document.getElementById('banner').style.display = 'none';
	});
</script>
