@using QLNS.DTO
@inject IHttpContextAccessor HttpContextAccessor
@{
	ViewData["Title"] = "Cart Page";
	// Layout = "~/Views/shared/_layout.cshtml";
    string sumprice = HttpContextAccessor.HttpContext.Session.GetString("sumprice");
	QLNS.ViewModels.Header.HeaderViewModel headerData = ViewBag.HeaderData;
}
@model QLNS.ViewModels.Cart.CartViewModel
@section Header {
	@Html.Partial("Header", headerData)
}
@section Footer {
	@Html.Partial("Footer")
}
<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="~/images/banner-cart.png" alt="banner giỏ hàng">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>Giỏ hàng</h2>
                <ol class="breadcrumb">
                    <li><a href="">Trang chủ </a></li>
                    <li style="color:#fff">Thông tin giỏ hàng</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- / catg header banner section -->
<!-- Cart view section -->
<section id="cart-view">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-view-area">
                    <div class="cart-view-table">
                        <form asp-action="UpdateCart" asp-controller="Cart" method="post">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Bỏ chọn</th>
                                            <th>Mô tả</th>
                                            <th>Sản phẩm</th>
                                            <th>Giá</th>
                                            <th>Số lượng</th>
                                            <th>Giảm giá</th>
                                            <th>Thành Tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.Carts.Count; i++)
                                        {
                                            var cart = Model.Carts[i];
                                            <tr>
                                                <td><a class="remove" href="/Cart/Remove?id=@cart.ProductId"><fa class="fa fa-close"></fa></a></td>
                                                <td><a href="/Product/ProductDetail?id=@cart.ProductId"><img src="~/images/products/img-test/@Model.Products.Where(p=>p.Id==cart.ProductId).First().ImageLink" alt="img @cart.ProductId"></a></td>
                                                <td><a class="aa-cart-title" href="/Product/ProductDetail?id=@cart.ProductId">@Model.Products.Where(p => p.Id == cart.ProductId).First().Name</a></td>
                                                <td>@Model.Products.Where(p => p.Id == cart.ProductId).First().Price VNĐ</td>
                                                <td><input class="aa-cart-quantity" type="number" name="Items[@i].Quantity" value="@cart.Quantity" min=1>
                                                    <input type="hidden" name="Items[@i].ProductId" value="@cart.ProductId">
                                                </td>
                                                <td>@Model.Products.Where(p => p.Id == cart.ProductId).First().Discount %</td>
                                                <td>@string.Format("{0:N0}", @cart.Quantity*(@Model.Products.Where(p => p.Id == cart.ProductId).First().Price - (@Model.Products.Where(p => p.Id == cart.ProductId).First().Price / 100 * @Model.Products.Where(p => p.Id == cart.ProductId).First().Discount))) VNĐ</td>
                                            </tr> 
                                        }
                                        <tr>
                                            <td colspan="6" class=""><strong>TỔNG TIỀN</strong></td>
                                            <td><strong>@sumprice VNĐ</strong></td>
                                        </tr>
                                        <tr>
                                            <td colspan="7" class="aa-cart-view-bottom">
                                                <input class="aa-cart-view-btn" type="submit" value="Cập nhật giỏ hàng">
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </form>
                        <!-- Cart Total view -->
                        <div class="cart-view-total">
                            <h4>Thông tin giỏ hàng</h4>
                            <table class="aa-totals-table">
                                <tbody>
                                    <tr>
                                        <th>Tạm tính</th>
                                        <td>@sumprice VNĐ</td>
                                    </tr>
                                    <tr>
                                        <th>VAT</th>
                                        <td>0 VNĐ</td>
                                    </tr>
                                    <tr>
                                        <th>Tổng cộng</th>
                                        <td><strong>@sumprice VNĐ</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="/Order/Checkout" class="aa-cart-view-btn">Thanh toán</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Cart view section -->