@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Cart By Order Page";
	// Layout = "~/Views/shared/_layout.cshtml";
	QLNS.ViewModels.Header.HeaderViewModel headerData = ViewBag.HeaderData;
}
@model QLNS.ViewModels.Cart.ShowCartViewModel
@section Header {
	@Html.Partial("Header", headerData)
}
@section Footer {
	@Html.Partial("Footer")
}
<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="~/images/banner-cart.png" alt="banner giỏ hàng">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>Chi tiết đơn hàng</h2>
                <ol class="breadcrumb">
                    <li><a href="">Trang chủ </a></li>
                    <li style="color:#fff">Thông tin chi tiết đơn hàng</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- / catg header banner section -->
<section id="cart-view">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-view-area">
                    <div class="cart-view-table">
                        <form>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Mô tả</th>
                                            <th>Sản phẩm</th>
                                            <th>Giá</th>
                                            <th>Số lượng</th>
                                            <th>Giảm giá</th>
                                            <th>Thành Tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.Ordereds.Count; i++)
                                        {
                                            var cart = Model.Ordereds[i];
                                            <tr>
                                                <td><a href="/Product/ProductDetail?id=@cart.ProductId"><img src="~/images/products/img-test/@Model.Products.Where(p=>p.Id==cart.ProductId).First().ImageLink" alt="img @cart.ProductId"></a></td>
                                                <td><a class="aa-cart-title" href="/Product/ProductDetail?id=@cart.ProductId">@Model.Products.Where(p => p.Id == cart.ProductId).First().Name</a></td>
                                                <td>@Model.Products.Where(p => p.Id == cart.ProductId).First().Price VNĐ</td>
                                                <td>@cart.Qty</td>
                                                <td>@Model.Products.Where(p => p.Id == cart.ProductId).First().Discount %</td>
                                                <td>@string.Format("{0:N0}", @cart.Qty * (@Model.Products.Where(p => p.Id == cart.ProductId).First().Price - (@Model.Products.Where(p => p.Id == cart.ProductId).First().Price / 100 * @Model.Products.Where(p => p.Id == cart.ProductId).First().Discount))) VNĐ</td>
                                            </tr>
                                        }
                                        <tr>
                                            <td colspan="6" class=""><strong>TỔNG TIỀN</strong></td>
                                            <td><strong>@Model.sumPrice VNĐ</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>